
.obsidian/workspace.json
.obsidian/core-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/appearance.json
.obsidian/app.json
.obsidian/community-plugins.json
.obsidian/hotkeys.json
.obsidian/plugins/obsidian-languagetool-plugin/data.json
.obsidian/plugins/obsidian-languagetool-plugin/main.js
.obsidian/plugins/obsidian-languagetool-plugin/manifest.json
.obsidian/plugins/obsidian-languagetool-plugin/styles.css
.obsidian/plugins/obsidian-pandoc/main.js
.obsidian/plugins/obsidian-pandoc/manifest.json
.obsidian/plugins/obsidian-pandoc/styles.css
VirusTotal.xcodeproj/project.xcworkspace/xcuserdata/jerry.xcuserdatad/UserInterfaceState.xcuserstate
